{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://backend.stg.dgate.digitinary.net","description":"Generated server url"}],"paths":{"/wf/runtime-configs/{objectType}/env/{envType}":{"put":{"tags":["Workflow"],"summary":"Update Workflow Runtime Config","description":"Update Workflow Runtime Config","operationId":"updateWorkflowRuntimeConfig","parameters":[{"name":"objectType","in":"path","required":true,"schema":{"type":"string","enum":["GATEWAY_ENVIRONMENT","API_SPEC","AUTHENTICATOR","EXCHANGE_POLICY","GLOBAL_POLICY","CONSUMER","SUBSCRIPTION","MONETIZATION_PRODUCT","MONETIZATION_PLAN","MESSAGE_BROKER","STATIC_RESPONSE","AUTHENTICATOR_CREDENTIALS"]}},{"name":"envType","in":"path","required":true,"schema":{"type":"string","enum":["DEV","STG","SDB","PRD"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeConfigWorkflowDefinitionModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RuntimeConfigWorkflowDefinitionModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/roles/{roleName}/":{"put":{"tags":["Roles"],"summary":"Update console role description","description":"Update console role description","operationId":"updateRole","parameters":[{"name":"roleName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/roles/{roleName}":{"put":{"tags":["Roles"],"summary":"Update console role description","description":"Update console role description","operationId":"updateRole_1","parameters":[{"name":"roleName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/publication-flow-configs/{publicationFlowId}":{"put":{"tags":["Publication Flow Configs"],"summary":"Update publication flow config","description":"Update publication flow config","operationId":"updatePublicationFlowConfig","parameters":[{"name":"publicationFlowId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"skipValidation","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicationFlowModel"}}},"required":true},"responses":{"200":{"description":"Update publication flow config successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicationFlowModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/products/{productId}":{"get":{"tags":["Monetization Products"],"summary":"Get a Product for a given ID","description":"Get a Product for a given ID","operationId":"getProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"withPublication","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved the product","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Monetization Products"],"summary":"Update Product","description":"Update Product","operationId":"updateProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}},"required":true},"responses":{"200":{"description":"Product updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Monetization Products"],"summary":"Delete Product","description":"Delete Product","operationId":"deleteProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Product deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/products/available-on-dev-portal":{"put":{"tags":["Monetization Products"],"summary":"Update Available on dev portal for a list of products","description":"Update Available on dev portal for a list of products","operationId":"updateAvailableOnDevPortal","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductModel"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"Products updated successfully"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policy-templates/{policyTemplateId}/":{"get":{"tags":["Policy Template Management"],"summary":"Get policy template  for a given Id","description":"Get policy template for a given Id","operationId":"getTemplate","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Policy Template Management"],"summary":"Update policy template","description":"Update policy template","operationId":"updateTemplate","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Policy Template Management"],"summary":"Delete policy template","description":"Delete policy template","operationId":"deleteTemplate","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policy-templates/{policyTemplateId}":{"get":{"tags":["Policy Template Management"],"summary":"Get policy template  for a given Id","description":"Get policy template for a given Id","operationId":"getTemplate_1","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Policy Template Management"],"summary":"Update policy template","description":"Update policy template","operationId":"updateTemplate_1","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Policy Template Management"],"summary":"Delete policy template","description":"Delete policy template","operationId":"deleteTemplate_1","parameters":[{"name":"policyTemplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policies/{policyId}":{"put":{"tags":["Policy Management"],"summary":"Update policy","description":"Update policy","operationId":"updatePolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangePolicyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policies/{policyId}/":{"put":{"tags":["Policy Management"],"summary":"Update policy","description":"Update policy","operationId":"updatePolicy_1","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangePolicyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policies/":{"get":{"tags":["Policy Management"],"summary":"Get Exchange Policies","description":"Get Exchange Policies","operationId":"getPolicies","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"httpExchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseExchangePolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Policy Management"],"summary":"Update policies","description":"Update policies","operationId":"updatePolices","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/policies":{"get":{"tags":["Policy Management"],"summary":"Get Exchange Policies","description":"Get Exchange Policies","operationId":"getPolicies_1","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"httpExchange","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseExchangePolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Policy Management"],"summary":"Update policies","description":"Update policies","operationId":"updatePolices_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangePolicyModel"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/plans/{planId}":{"get":{"tags":["Monetization Plan"],"summary":"Get a Plan for a given ID","description":"Get a Plan for a given ID","operationId":"getPlan","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"withPublications","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved the plan","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Monetization Plan"],"summary":"Update plan","description":"Update plan","operationId":"updatePlan","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanModel"}}},"required":true},"responses":{"200":{"description":"Plan updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Monetization Plan"],"summary":"Delete Plan","description":"Delete Plan","operationId":"deletePlan","parameters":[{"name":"planId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Plan deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/message-brokers/{messageBrokerId}/":{"get":{"tags":["Message Broker"],"summary":"Get Message Broker By Id","description":"Get Message Broker By Id","operationId":"getMessageBroker","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Message Broker"],"summary":"Update Message Broker","description":"Update Message Broker","operationId":"updateMessageBroker","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Message Broker"],"summary":"Delete Message Broker","description":"Delete Message Broker","operationId":"deleteMessageBroker","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/message-brokers/{messageBrokerId}":{"get":{"tags":["Message Broker"],"summary":"Get Message Broker By Id","description":"Get Message Broker By Id","operationId":"getMessageBroker_1","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Message Broker"],"summary":"Update Message Broker","description":"Update Message Broker","operationId":"updateMessageBroker_1","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Message Broker"],"summary":"Delete Message Broker","description":"Delete Message Broker","operationId":"deleteMessageBroker_1","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/groups/{groupId}":{"get":{"tags":["Groups"],"summary":"Get console group by id","description":"Get console group by id","operationId":"getGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomGroupRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Groups"],"summary":"Update console group","description":"Update console group","operationId":"updateGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupRepresentation"}}}}}},"delete":{"tags":["Groups"],"summary":"Delete console group by id","description":"Delete console group by id","operationId":"deleteGroupById","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/groups/{groupId}/":{"get":{"tags":["Groups"],"summary":"Get console group by id","description":"Get console group by id","operationId":"getGroup_1","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomGroupRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Groups"],"summary":"Update console group","description":"Update console group","operationId":"updateGroup_1","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupRepresentation"}}}}}},"delete":{"tags":["Groups"],"summary":"Delete console group by id","description":"Delete console group by id","operationId":"deleteGroupById_1","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/global-policies/{policyId}":{"get":{"tags":["Global Policy Management"],"summary":"Get Global Policy","description":"Get Global Policy","operationId":"getGlobalPolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Global Policy Management"],"summary":"Update global policy filter","description":"Update global policy filter","operationId":"updateGlobalPolicy","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Global Policy Management"],"summary":"Upload jws verifier public key pem file","description":"Upload jws verifier public key pem file","operationId":"uploadJwsVerifierPublicKey","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"uploadFile":{"type":"string","format":"binary"}},"required":["uploadFile"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/global-policies/{policyId}/":{"get":{"tags":["Global Policy Management"],"summary":"Get Global Policy","description":"Get Global Policy","operationId":"getGlobalPolicy_1","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Global Policy Management"],"summary":"Update global policy filter","description":"Update global policy filter","operationId":"updateGlobalPolicy_1","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Global Policy Management"],"summary":"Upload jws verifier public key pem file","description":"Upload jws verifier public key pem file","operationId":"uploadJwsVerifierPublicKey_1","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"uploadFile":{"type":"string","format":"binary"}},"required":["uploadFile"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPolicyModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/environments/{envId}":{"get":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Get Environment By Id","description":"Get Environment By Id","operationId":"getEnvironmentById","parameters":[{"name":"envId","in":"path","required":true,"schema":{"type":"string"}},{"name":"withPublishments","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Update Gateway Environment","description":"Update Gateway Environment","operationId":"updateEnvironment","parameters":[{"name":"envId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Delete an environment","description":"Delete an environment","operationId":"deleteEnvironment","parameters":[{"name":"envId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/dev-portal-configs/{configId}":{"put":{"tags":["Dev Portal Config"],"summary":"Update devPortalConfig","description":"Update devPortalConfig","operationId":"updateDevPortalConfig","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevPortalConfigModel"}}},"required":true},"responses":{"200":{"description":"devPortalConfig updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DevPortalConfigModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}":{"get":{"tags":["Consumer"],"summary":"Get a Consumer for a given ID or KEY","description":"Get a Consumer for a given ID or KEY","operationId":"getConsumer","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fetchType","in":"query","required":false,"schema":{"type":"string","default":"ID","enum":["ID","KEY"]}}],"responses":{"200":{"description":"Successfully retrieved the Consumer","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Consumer"],"summary":"Update Consumer","description":"Update Consumer","operationId":"updateConsumer","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}},"required":true},"responses":{"200":{"description":"Consumer updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Consumer"],"summary":"Delete Consumer","description":"Delete Consumer","operationId":"deleteConsumer","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Consumer deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/projects/{projectId}":{"get":{"tags":["Consumer Project"],"summary":"Get Project","description":"Get an existing Project by ID","operationId":"getProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved the project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Consumer Project"],"summary":"Update Project","description":"Update Project","operationId":"updateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Consumer Project"],"summary":"Delete Project","description":"Delete Project","operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/projects/{projectId}/":{"get":{"tags":["Consumer Project"],"summary":"Get Project","description":"Get an existing Project by ID","operationId":"getProject_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved the project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Project not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Consumer Project"],"summary":"Update Project","description":"Update Project","operationId":"updateProject_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Consumer Project"],"summary":"Delete Project","description":"Delete Project","operationId":"deleteProject_1","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/authenticators/{authId}":{"get":{"tags":["Authenticator"],"summary":"Get an authenticator for a given Id","description":"Get an authenticator for a given Id","operationId":"getAuthenticator","parameters":[{"name":"authId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":["credentials"],"items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["Authenticator"],"summary":"Update an authenticator","description":"Update an authenticator","operationId":"updateAuthenticator","parameters":[{"name":"authId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["Authenticator"],"summary":"Delete an authenticator","description":"Delete an authenticator","operationId":"deleteAuthenticator","parameters":[{"name":"authId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}":{"get":{"tags":["API Spec"],"summary":"Get an ApiSpec for a given Id","description":"Get an ApiSpec for a given Id","operationId":"getApiSpec","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"designMode","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpec"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"put":{"tags":["API Spec"],"summary":"Update Api Spec","description":"Update Api Spec","operationId":"updateApiSpec","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSpec"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpec"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete Api Spec","description":"Delete Api Spec","operationId":"deleteApiSpec","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"patch":{"tags":["API Spec"],"summary":"Generate Open Api Json","description":"Generate Open Api Json","operationId":"updateOpenApiJson","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpec"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/routes/{routeId}/static-response/{ruleId}":{"get":{"tags":["Api Static Response"],"operationId":"getApiStaticResponse","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticResponseRule"}}}}}},"put":{"tags":["Api Static Response"],"operationId":"updateApiStaticResponse","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticResponseRule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticResponseRule"}}}}}},"delete":{"tags":["Api Static Response"],"operationId":"deleteApiStaticResponse","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api-specs/{apiSpecId}/routes/{routeId}":{"put":{"tags":["API Spec"],"summary":"Update ApiSpec Route","description":"Update ApiSpec Route","operationId":"updateApiSpecRoutes","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete ApiSpec Route","description":"Delete ApiSpec Route","operationId":"deleteApiSpecRoute","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/routes/{routeId}/":{"put":{"tags":["API Spec"],"summary":"Update ApiSpec Route","description":"Update ApiSpec Route","operationId":"updateApiSpecRoutes_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete ApiSpec Route","description":"Delete ApiSpec Route","operationId":"deleteApiSpecRoute_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/response-policies/{policyId}":{"put":{"tags":["API Spec"],"summary":"Delete Response Policy for API Specification","description":"Updated a response policy associated with an API specification","operationId":"updateApiSpecResponsePolicy","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}},"required":true},"responses":{"200":{"description":"Updated policy updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete Response Policy for API Specification","description":"Deletes a response policy associated with an API specification","operationId":"deleteApiSpecResponsePolicy","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Response Policy deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/response-policies/{policyId}/":{"put":{"tags":["API Spec"],"summary":"Delete Response Policy for API Specification","description":"Updated a response policy associated with an API specification","operationId":"updateApiSpecResponsePolicy_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}},"required":true},"responses":{"200":{"description":"Updated policy updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete Response Policy for API Specification","description":"Deletes a response policy associated with an API specification","operationId":"deleteApiSpecResponsePolicy_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Response Policy deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/request-policies/{policyId}":{"put":{"tags":["API Spec"],"summary":"Update API specification request policy","description":"Updates an API specification request policy","operationId":"updateApiSpecRequestPolicy","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}},"required":true},"responses":{"200":{"description":"Request policy updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete API Specification request Policy","description":"Deletes an API specification request policy","operationId":"deleteApiSpecRequestPolicy","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Request policy deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/request-policies/{policyId}/":{"put":{"tags":["API Spec"],"summary":"Update API specification request policy","description":"Updates an API specification request policy","operationId":"updateApiSpecRequestPolicy_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}},"required":true},"responses":{"200":{"description":"Request policy updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiPolicyFilter"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"delete":{"tags":["API Spec"],"summary":"Delete API Specification request Policy","description":"Deletes an API specification request policy","operationId":"deleteApiSpecRequestPolicy_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"policyId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Request policy deleted successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/wf/processes/{processId}/actions":{"post":{"tags":["Workflow"],"summary":"This endpoint allows to perform [PROCESS_NEXT, TERMINATE] actions on a given running process id","description":"Perform actions on a running workflow process","operationId":"performProcessAction","parameters":[{"name":"processId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowProcessActionDto"}}},"required":true},"responses":{"200":{"description":"Workflow action performed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowProcessModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/{userId}/assign-roles/":{"post":{"tags":["Users"],"summary":"Assign roles to console user","description":"Assign roles to console user","operationId":"assignRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRoles"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/{userId}/assign-roles":{"post":{"tags":["Users"],"summary":"Assign roles to console user","description":"Assign roles to console user","operationId":"assignRoles_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRoles"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/{userId}/assign-groups/":{"post":{"tags":["Users"],"summary":"Assign group to console user","description":"Assign group to console user","operationId":"assignGroups","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignGroups"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/{userId}/assign-groups":{"post":{"tags":["Users"],"summary":"Assign group to console user","description":"Assign group to console user","operationId":"assignGroups_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignGroups"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/sync":{"post":{"tags":["Users"],"summary":"Sync console users from active directory","description":"Sync console users from active directory","operationId":"syncUsers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncUsers"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SynchronizationResultRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/users/sync/":{"post":{"tags":["Users"],"summary":"Sync console users from active directory","description":"Sync console users from active directory","operationId":"syncUsers_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncUsers"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SynchronizationResultRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/subscriptions/":{"get":{"tags":["Monetization Subscription"],"summary":"Get Subscriptions","description":"Get Subscriptions","operationId":"getSubscriptions","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"consumerKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"projectIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"productName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"subscriptionId"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved Subscriptions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSubscriptionModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Subscription"],"summary":"Create a new subscription","description":"Creates a new subscription for a specific consumer and project.","operationId":"createSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerSubscription"}}},"required":true},"responses":{"201":{"description":"Successful creation of subscription","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/subscriptions":{"get":{"tags":["Monetization Subscription"],"summary":"Get Subscriptions","description":"Get Subscriptions","operationId":"getSubscriptions_1","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"consumerKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"projectIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"productName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"subscriptionId"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved Subscriptions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseSubscriptionModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Subscription"],"summary":"Create a new subscription","description":"Creates a new subscription for a specific consumer and project.","operationId":"createSubscription_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerSubscription"}}},"required":true},"responses":{"201":{"description":"Successful creation of subscription","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/revisions/{revId}/restored":{"post":{"tags":["Revision"],"operationId":"restoredRevision","parameters":[{"name":"revId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RevisionChangeModel"}}}}}}},"/publications":{"post":{"tags":["Runtime Config Publisher"],"summary":"Publish a runtime config object to a target gateway environment.","description":"Publish a runtime config","operationId":"publish","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeConfigPublicationModel"}}},"required":true},"responses":{"200":{"description":"Plan publish request is send successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RuntimeConfigPublishingStatus"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/publications/global":{"post":{"tags":["Runtime Config Publisher"],"summary":"Global publish a runtime config object to all gateway environments.","description":"Global publish a runtime config","operationId":"publishGlobally","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeConfigPublicationModel"}}},"required":true},"responses":{"200":{"description":"Plan publish request is send successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalPublishingResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/products/":{"get":{"tags":["Monetization Products"],"summary":"Retrieve Monetization Products","description":"Retrieve Monetization Products","operationId":"getMonetizationProducts","parameters":[{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"segment","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"hasPlans","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"isPremium","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"projectId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"availableOnDevPortal","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"productStatuses","in":"query","required":false,"schema":{"type":"array","default":["PUBLISHED","UNPUBLISHED","DRAFT"],"items":{"type":"string","enum":["DRAFT","PUBLISHED","UNPUBLISHED"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"hasPlansInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Products"],"summary":"Create a Monetization Product","description":"Create a Monetization Product","operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/products":{"get":{"tags":["Monetization Products"],"summary":"Retrieve Monetization Products","description":"Retrieve Monetization Products","operationId":"getMonetizationProducts_1","parameters":[{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"segment","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"hasPlans","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"isPremium","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"projectId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"createdAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"availableOnDevPortal","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"productStatuses","in":"query","required":false,"schema":{"type":"array","default":["PUBLISHED","UNPUBLISHED","DRAFT"],"items":{"type":"string","enum":["DRAFT","PUBLISHED","UNPUBLISHED"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"hasPlansInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseProductModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Products"],"summary":"Create a Monetization Product","description":"Create a Monetization Product","operationId":"createProduct_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/plans/":{"get":{"tags":["Monetization Plan"],"summary":"Get Plans","description":"Get Plans","operationId":"getPlans","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"apiPriceType","in":"query","required":false,"schema":{"type":"string","enum":["USAGE_BASED_CHARGES","FIXED_QUOTA_CHARGES"]}},{"name":"planStatus","in":"query","required":false,"schema":{"type":"array","default":["PUBLISHED","UNPUBLISHED","DRAFT"],"items":{"type":"string","enum":["PUBLISHED","UNPUBLISHED","DELETED","DRAFT"]},"uniqueItems":true}},{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"definitionTypes","in":"query","required":false,"schema":{"type":"array","default":["STANDARD","ENTERPRISE"],"items":{"type":"string","enum":["STANDARD","ENTERPRISE"]},"uniqueItems":true}},{"name":"sandboxPlan","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}},{"name":"isPremium","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdDateTime"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successfully retrieved plans","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePlanModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Plan"],"summary":"Create new Plan","description":"Create new plan","operationId":"createPlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/plans":{"get":{"tags":["Monetization Plan"],"summary":"Get Plans","description":"Get Plans","operationId":"getPlans_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"apiPriceType","in":"query","required":false,"schema":{"type":"string","enum":["USAGE_BASED_CHARGES","FIXED_QUOTA_CHARGES"]}},{"name":"planStatus","in":"query","required":false,"schema":{"type":"array","default":["PUBLISHED","UNPUBLISHED","DRAFT"],"items":{"type":"string","enum":["PUBLISHED","UNPUBLISHED","DELETED","DRAFT"]},"uniqueItems":true}},{"name":"productIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"definitionTypes","in":"query","required":false,"schema":{"type":"array","default":["STANDARD","ENTERPRISE"],"items":{"type":"string","enum":["STANDARD","ENTERPRISE"]},"uniqueItems":true}},{"name":"sandboxPlan","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"},"uniqueItems":true}},{"name":"isPremium","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdDateTime"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successfully retrieved plans","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePlanModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Monetization Plan"],"summary":"Create new Plan","description":"Create new plan","operationId":"createPlan_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/notifications/actions/":{"post":{"tags":["Notification"],"operationId":"notificationActions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationAction"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/notifications/actions":{"post":{"tags":["Notification"],"operationId":"notificationActions_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationAction"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/message-brokers/{messageBrokerId}/subscriptions":{"post":{"tags":["Message Broker"],"summary":"Subscribe Message Broker","description":"Subscribe Message Broker","operationId":"subscribeMessageBroker","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerSubscriberModel"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/message-brokers/{messageBrokerId}/subscriptions/":{"post":{"tags":["Message Broker"],"summary":"Subscribe Message Broker","description":"Subscribe Message Broker","operationId":"subscribeMessageBroker_1","parameters":[{"name":"messageBrokerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerSubscriberModel"}}},"required":true},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/message-brokers":{"get":{"tags":["Message Broker"],"summary":"Get Message Brokers","description":"Get Message Brokers","operationId":"getMessageBrokers","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"consumerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"availableOnDevPortal","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"topics","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseMessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Message Broker"],"summary":"Add a new Message Broker","description":"Add a new Message Broker","operationId":"createMessageBroker","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/message-brokers/":{"get":{"tags":["Message Broker"],"summary":"Get Message Brokers","description":"Get Message Brokers","operationId":"getMessageBrokers_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"consumerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"availableOnDevPortal","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"topics","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseMessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Message Broker"],"summary":"Add a new Message Broker","description":"Add a new Message Broker","operationId":"createMessageBroker_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageBrokerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/licenses/upload":{"post":{"tags":["license-rest-api-controller"],"operationId":"uploadLicense","parameters":[{"name":"isInvalid","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK"}}}},"/groups/{groupId}/assign-roles":{"post":{"tags":["Groups"],"summary":"Assign roles to console user","description":"Assign roles to console user","operationId":"assignRoles_2","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRoles"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/groups/{groupId}/assign-roles/":{"post":{"tags":["Groups"],"summary":"Assign roles to console user","description":"Assign roles to console user","operationId":"assignRoles_3","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRoles"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/groups":{"get":{"tags":["Groups"],"summary":"Get console groups","description":"Get console groups","operationId":"getGroups","parameters":[{"name":"searchValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseGroupRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Groups"],"summary":"Create console group","description":"Create console group","operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupRepresentation"}}}}}}},"/groups/":{"get":{"tags":["Groups"],"summary":"Get console groups","description":"Get console groups","operationId":"getGroups_1","parameters":[{"name":"searchValue","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseGroupRepresentation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Groups"],"summary":"Create console group","description":"Create console group","operationId":"createGroup_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroup"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupRepresentation"}}}}}}},"/environments/":{"get":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Get Environments","description":"Get Environments","operationId":"getEnvironments","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"excludedEnvironments","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"havePublishedResources","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GATEWAY_ENVIRONMENT","API_SPEC","AUTHENTICATOR","EXCHANGE_POLICY","GLOBAL_POLICY","CONSUMER","SUBSCRIPTION","MONETIZATION_PRODUCT","MONETIZATION_PLAN","MESSAGE_BROKER","STATIC_RESPONSE","AUTHENTICATOR_CREDENTIALS"]},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Add an dgate API gateway environment","description":"Add an dgate API gateway environment","operationId":"createEnvironment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/environments":{"get":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Get Environments","description":"Get Environments","operationId":"getEnvironments_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"excludedEnvironments","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"havePublishedResources","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GATEWAY_ENVIRONMENT","API_SPEC","AUTHENTICATOR","EXCHANGE_POLICY","GLOBAL_POLICY","CONSUMER","SUBSCRIPTION","MONETIZATION_PRODUCT","MONETIZATION_PLAN","MESSAGE_BROKER","STATIC_RESPONSE","AUTHENTICATOR_CREDENTIALS"]},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Gateway Environment/Runtime APIs"],"summary":"Add an dgate API gateway environment","description":"Add an dgate API gateway environment","operationId":"createEnvironment_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}/projects/{projectId}/register-consumer-users/{email}":{"post":{"tags":["Consumer User"],"summary":"Register Consumer Users","description":"Register Consumer Users","operationId":"registerConsumerUser","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerUserModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}/projects/{projectId}/register-consumer-users/{email}/":{"post":{"tags":["Consumer User"],"summary":"Register Consumer Users","description":"Register Consumer Users","operationId":"registerConsumerUser_1","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerUserModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}/projects/":{"get":{"tags":["Consumer Project"],"summary":"Get Consumer Projects Paginated","description":"Get Consumer Projects Paginated","operationId":"getProjects","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectName","in":"query","required":false,"schema":{"type":"string"}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved projects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}}}},"post":{"tags":["Consumer Project"],"summary":"Create Project","description":"Create new Project","operationId":"createProject","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}/projects":{"get":{"tags":["Consumer Project"],"summary":"Get Consumer Projects Paginated","description":"Get Consumer Projects Paginated","operationId":"getProjects_1","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectName","in":"query","required":false,"schema":{"type":"string"}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}}],"responses":{"200":{"description":"Successfully retrieved projects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}}}},"post":{"tags":["Consumer Project"],"summary":"Create Project","description":"Create new Project","operationId":"createProject_1","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/{consumerId}/files":{"post":{"tags":["Consumer"],"summary":"Upload files","description":"Upload files for a consumer","operationId":"uploadFiles","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"files","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"binary"}}}],"responses":{"200":{"description":"Files uploaded successfully"},"400":{"description":"Invalid input"}}}},"/consumers/{consumerId}/actions":{"post":{"tags":["Consumer"],"summary":"Consumer actions","description":"Consumer actions","operationId":"consumerActions","parameters":[{"name":"consumerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerActionDto"}}},"required":true},"responses":{"200":{"description":"Consumer updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers/":{"get":{"tags":["Consumer"],"summary":"Get Consumers","description":"Get Consumers","operationId":"getConsumers","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","DRAFT"]}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successfully retrieved list of consumers","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseConsumerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Consumer"],"summary":"Create a Monetization Consumer","description":"Create a Monetization Consumer","operationId":"createConsumer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/consumers":{"get":{"tags":["Consumer"],"summary":"Get Consumers","description":"Get Consumers","operationId":"getConsumers_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","DRAFT"]}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Successfully retrieved list of consumers","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseConsumerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Consumer"],"summary":"Create a Monetization Consumer","description":"Create a Monetization Consumer","operationId":"createConsumer_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConsumerModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/authenticators/{authId}/credentials":{"get":{"tags":["Authenticator"],"summary":"Get an authenticator credentials","description":"Get an authenticator credentials","operationId":"getCredentials","parameters":[{"name":"authId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"username","in":"query","required":false,"schema":{"type":"string"}},{"name":"clientId","in":"query","required":false,"schema":{"type":"string"}},{"name":"apiKeyClientName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCredentialModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Authenticator"],"summary":"Create Credential","description":"Create Credential","operationId":"addCredentials","parameters":[{"name":"authId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CredentialDto"}}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CredentialActionStatus"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/authenticators/":{"get":{"tags":["Authenticator"],"summary":"Get authenticators pageable and filtered","description":"Get authenticators pageable and filtered","operationId":"getAuthenticators","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["KEYLESS","OAUTH","API_KEY","BASIC"]},"uniqueItems":true}},{"name":"isDefault","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"typeCredential","in":"query","required":false,"schema":{"type":"string","enum":["KEYLESS","OAUTH","API_KEY","BASIC"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PUBLISHED","PENDING"]}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":["publication"],"items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseAuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Authenticator"],"summary":"Create new API authenticator","description":"Create new API authenticator","operationId":"createAuthenticator","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/authenticators":{"get":{"tags":["Authenticator"],"summary":"Get authenticators pageable and filtered","description":"Get authenticators pageable and filtered","operationId":"getAuthenticators_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["KEYLESS","OAUTH","API_KEY","BASIC"]},"uniqueItems":true}},{"name":"isDefault","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"typeCredential","in":"query","required":false,"schema":{"type":"string","enum":["KEYLESS","OAUTH","API_KEY","BASIC"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PUBLISHED","PENDING"]}},{"name":"publishedInEnvTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DEV","STG","SDB","PRD"]},"uniqueItems":true}},{"name":"publishedInEnvIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"fields","in":"query","required":false,"schema":{"type":"array","default":["publication"],"items":{"type":"string"},"uniqueItems":true}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortField","in":"query","required":false,"schema":{"type":"string","default":"createAt"}},{"name":"sortAscending","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseAuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}},"post":{"tags":["Authenticator"],"summary":"Create new API authenticator","description":"Create new API authenticator","operationId":"createAuthenticator_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatorModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/routes/{routeId}/static-response":{"get":{"tags":["Api Static Response"],"operationId":"getApiStaticResponses","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteStaticResponseModel"}}}}}},"post":{"tags":["Api Static Response"],"operationId":"createApiStaticResponse","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}},{"name":"routeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaticResponseRule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StaticResponseRule"}}}}}}},"/api-specs/{apiSpecId}/routes":{"post":{"tags":["API Spec"],"summary":"Create new ApiSpec Route","description":"Create new ApiSpec Route","operationId":"createApiSpecRoute","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/routes/":{"post":{"tags":["API Spec"],"summary":"Create new ApiSpec Route","description":"Create new ApiSpec Route","operationId":"createApiSpecRoute_1","parameters":[{"name":"apiSpecId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiSpecRouteModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorMessage"}}}}}}},"/api-specs/{apiSpecId}/response-policies":{"post":{"tags":["API Spec"],"summary":"Create New API Specification Response Policy","description":"Creates a new API specification response policy","operationId":"createApiSpecRespons
[...]
